@import "../../styles/index";

.wp-block-topbook-block-step {
	position: relative;
	box-sizing: border-box;
	padding-bottom: 28px;
	padding-left: 60px;

	&::after {
		position: absolute;
		top: 0;
		left: 15px;
		width: 2px;
		height: 100%;
		background: var(--border-block-color);
		content: "";
	}

	&:last-child {
		&::after {
			content: none;
		}
	}

	.step {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		display: inline-block;
		width: 32px;
		height: 32px;
		padding: 4px;
		border-radius: 50%;
		background: var(--primary-block-color);
		color: var(--white-block-color);
		font-size: 20px;
		font-weight: 600;
		text-align: center;
	}

	.title {
		padding: 0;
		border: none;
		margin: 0;
		margin-bottom: 24px;
		color: var(--violet-block-color);
		font-size: 20px;
		font-weight: 700;
		line-height: 28px;
	}

	.description {
		padding-bottom: 24px;
		color: var(--dark-blue-block-color);
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;

		&.border {
			padding: 16px;
			border: 1px solid var(--border-block-color);
		}
	}

	.photo img {
		max-height: 410px;
	}
}

@media screen and (width <= 767px) {
	.wp-block-topbook-block-step {
		padding-left: 45px;

		.title {
			font-size: 16px;
		}

		.description {
			font-size: 14px;
		}

		.photo img {
			max-height: 180px;
		}
	}
}
