@import "@/assets/styles";

.wp-block-wp-custom-blocks-author {
	.border1 {
		top: -5px;
		left: -5px;
		width: 70px;
		height: 70px;
		border: 5px solid;
	}

	.border2 {
		top: -10px;
		left: -10px;
		width: 80px;
		height: 80px;
		border: 5px solid;
	}
}
