@import "../../styles/index";

.wp-block-topbook-block-payment {
	flex: 1;
	background-color: var(--primary-light-block-color);

	.photo {
		max-width: 115px;
		height: 100%;
		margin: 0 auto;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

@media screen and (width <= 767px) {
	.wp-block-topbook-block-payment {
		max-width: none;
		flex: auto;
	}
}
