:root {
	--primary-block-color: #a689ff;
	--border-block-color: #bdabda;
	--primary-light-block-color: #f5eeff;
	--secondary-block-color: #a97bff;
	--violet-block-color: #1c1230;
	--dark-blue-block-color: #343741;
	--white-block-color: #fff;
}
